.location {

  h4 {
    display: inline-block;
    margin: 15px 5px 0 5px;
  }

  p {
    display: inline-block;
    color: $grey-4-color;
    margin: 0 0 0 36px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 0 0 2px 15px;
    vertical-align: text-bottom;
    display: inline-block;
  }

  &__stars {
    display: inline-block;
    margin: 0 -31px 2px 5px;
    vertical-align: bottom;
    z-index: 0;
  }

  &__address {
    width: 85%;
    height: 16px;
    font-size: 12px;
    color: $grey-4-color;
    margin-left: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__reviews-list {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid $grey-2-color;
    border-bottom: 10px solid $grey-2-color;

    &__no-reviews {
      color: $grey-4-color !important;
      margin: 40px 0 !important;
      font-style: italic;
    }

    &__review {
      display: flex;
      text-align: left;
      padding: 15px;
      border-bottom: 1px solid $grey-2-color;
      border-top: none;

      &:last-child {
        border-bottom: 0 !important;
      }

      &__icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 50%;
      }

      &__info {
        h5 {
          font-size: 14px;
          margin: 0 0 0 10px;
        }

        h6 {
          display: inline-block;
          color: $grey-4-color;
          font-size: 12px;
          font-weight: normal;
          margin: 2px 0 0 8px;
          vertical-align: text-top;
        }

        p {
          color: $black-color;
          font-size: 14px;
          margin: 5px 0 10px 10px;
        }

        &__stars {
          display: inline-block;
          margin-left: 10px;
          vertical-align: text-top;
        }

        &__no-comment {
          color: $grey-4-color !important;
          font-style: italic;
        }

      }

    }

  }
}