$black-color: black;
$white-color: white;

$grey-color: #F6F6F6;
$grey-2-color: #DDDDDD;
$grey-3-color: #333333;
$grey-4-color: #777679;
$grey-5-color: #C2C2C2;
$grey-transparent-color: #77767938;
$dark-grey-color: #333333;
$background-grey-color: #F6F6F6;
$disabled-list-grey-color: #CACACA;

$blue-color: #1872E7;
$blue-transparent-color: #1672E729;
$blue-transparent-2-color: #1672E7BD;
$blue-hootsuite-color: #00AEEF;
$blue-hootsuite-2-color: #187AAD;

$green-hootsuite-color: #8DC63F;
$green-hootsuite-transparent-color: #DFEBC1;

$red-color: red;
$yellow-color: #FFAB00;

$main-font: 'Roboto', sans-serif;